.chatbot-icon {
    z-index: 1030;
    cursor: pointer;
    background-color: #1977cc;
    color: white;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
}

.chatbot {
    z-index: 1030;
    position: fixed;
    right: 2rem;
    bottom: 7rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 12px;
}
.chatbot .chatbot-box {
    border: 1px solid #d5e1ed;
    border-radius: 5px;
}
.bot-avatar{
    font-size: 30px;
    color: green;
    padding-right: 10px;
}

.chatbot-markdown {
    background-color: rgb(248, 248, 248);
    padding: 10px;
    border-radius: 5px;
    font-size: 13px;
}

.chatbot-markdown * {
    color: #444444 !important;
}

.chatbot-markdown > p {
    margin-bottom: 0;
}

.react-chatbot-kit-chat-container {
    max-width: 600px;
    width: 80vw;
}